<!-- app/views/tasks/index.html.erb -->
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-light">
      <h1 class="mb-0">Tasks</h1>
    </div>
    <div class="card-body">
      <!-- Button to create a new task -->
      <div class="mb-3">
        <%= link_to 'New Task', new_task_path, class: 'btn btn-primary btn-md' %>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-light">
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Time Spent</th>
            <th class="text-center">Task Type</th>
            <th class="text-center">Project</th>
            <% if current_user.admin? %>
              <th class="text-center">Assigned User</th>
            <% end %>
            <th class="text-center">Status</th> <!-- Status Column -->
          </tr>
          </thead>
          <tbody>
          <% @tasks.each do |task| %>
            <tr class="clickable-row" data-href="<%= task_path(task) %>">
              <td class="text-center"><%= task.title %></td>
              <td class="text-center"><%= task.time_spent %> <span class="text-muted">hours</span></td>
              <td class="text-center"><%= task.task_type %></td>
              <td class="text-center"><%= task.project.name %></td>
              <% if current_user.admin? %>
                <td class="text-center"><%= task.user&.name %></td>
              <% end %>

              <td class="text-center">
                <%= button_tag type: 'button', class: "btn btn-outline-#{status_color(task.status)}" do %>
                  <%= task.status.titleize %>
                <% end %>
              </td> <!-- Status Column with Buttons -->
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const rows = document.querySelectorAll(".clickable-row");
        rows.forEach(row => {
            row.addEventListener("click", function() {
                window.location = this.dataset.href;
            });
        });
    });
</script>
