<!-- app/views/tasks/show.html.erb -->
<br>
<div class="container mt-4">
  <div class="card shadow-sm border rounded">
    <div class="card-body p-4 bg-light">
      <!-- Title Center Alignment -->
      <div class="text-center mb-4">
        <h1><%= @task.title %></h1>
      </div>

      <h5>Description:</h5>
      <p style="text-align: justify;"><%= @task.description %></p>

      <!-- Time Spent Section -->
      <div class="mb-4">
        <h5>Time Spent:</h5>
        <p><%= @task.time_spent %> <span class="text-muted">hours</span></p>
      </div>

      <!-- Deadline Section -->
      <% if @task.deadline.present? %>
        <div class="mb-4">
          <h5>Deadline:</h5>
          <p><%= @task.deadline.strftime('%Y-%m-%d %H:%M') %></p>
        </div>
      <% end %>

      <!-- Started At Section -->
      <% if @task.started_at.present? %>
        <div class="mb-4">
          <h5>Started At:</h5>
          <p><%= @task.started_at.strftime('%Y-%m-%d %H:%M') %></p>
        </div>
      <% end %>

      <!-- Ended At Section -->
      <% if @task.ended_at.present? %>
        <div class="mb-4">
          <h5>Ended At:</h5>
          <p><%= @task.ended_at.strftime('%Y-%m-%d %H:%M') %></p>
        </div>
      <% end %>

      <!-- Task Type Section -->
      <div class="mb-4">
        <h5>Task Type:</h5>
        <p><%= @task.task_type %></p>
      </div>

      <!-- Project Section -->
      <div class="mb-4">
        <h5>Project:</h5>
        <p><%= @task.project.name %></p>
      </div>

      <!-- Assigned User Section -->
      <% if @task.user.present? %>
        <div class="mb-4">
          <h5>Assigned User:</h5>
          <p><%= @task.user.name %></p>
        </div>
      <% end %>

      <!-- Buttons -->
      <div class="d-flex justify-content-between">
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-warning me-2" %>
        <% end %>
        <%= link_to 'Back', tasks_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
<br>
