<div class="container mt-4">
  <div class="card shadow-sm border rounded">
    <div class="card-body p-4 bg-light">
      <!-- Title Center Alignment -->
      <div class="text-center mb-4">
        <h1><%= @task.title %></h1>
      </div>

      <!-- First Row: Title, Project, Assign User, Task Type -->
      <div class="d-flex flex-wrap mb-3">
        <div class="flex-fill me-3">
          <label class="form-label fw-bold">Title</label>
          <input type="text" class="form-control shadow-sm" value="<%= @task.title %>" disabled>
        </div>

        <div class="flex-fill me-3">
          <label class="form-label fw-bold">Project</label>
          <input type="text" class="form-control shadow-sm" value="<%= @task.project.name %>" disabled>
        </div>

        <% if @task.user.present? %>
          <div class="flex-fill me-3">
            <label class="form-label fw-bold">Assigned User</label>
            <input type="text" class="form-control shadow-sm" value="<%= @task.user.name %>" disabled>
          </div>
        <% end %>

        <div class="flex-fill">
          <label class="form-label fw-bold">Task Type</label>
          <input type="text" class="form-control shadow-sm" value="<%= @task.task_type %>" disabled>
        </div>
      </div>

      <!-- Second Row: Description -->
      <div class="mb-3">
        <label class="form-label fw-bold">Description</label>
        <textarea class="form-control shadow-sm" rows="4" disabled><%= @task.description %></textarea>
      </div>

      <!-- Third Row: Deadline, Started At, Ended At -->
      <div class="row g-3">
        <div class="col-md-4">
          <div class="mb-3">
            <label class="form-label fw-bold">Deadline</label>
            <input type="datetime-local" class="form-control shadow-sm" value="<%= @task.deadline&.strftime('%Y-%m-%dT%H:%M') %>" disabled>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label class="form-label fw-bold">Started At</label>
            <input type="datetime-local" class="form-control shadow-sm" value="<%= @task.started_at&.strftime('%Y-%m-%dT%H:%M') %>" disabled>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label class="form-label fw-bold">Ended At</label>
            <input type="datetime-local" class="form-control shadow-sm" value="<%= @task.ended_at&.strftime('%Y-%m-%dT%H:%M') %>" disabled>
          </div>
        </div>

      </div>
      <!-- Buttons -->
      <div class="mt-3 d-flex justify-content-end">
        <% if current_user.admin? %>
          <%= link_to 'Edit task', edit_task_path(@task), class: "btn btn-warning me-2" %>
        <% end %>
        <%= link_to 'Back', tasks_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
