<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title d-flex justify-content-between">
        Projects
      </h1>
    </div>

    <div class="card-body">
      <% if current_user.admin? %>
        <%= link_to 'New Project', new_project_path, class: 'btn btn-primary btn-md' %>
      <% end %>
      <br><br>
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <%= link_to 'Active', projects_path(tab: 'active'), class: "nav-link #{params[:tab] != 'archived' ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Archived', projects_path(tab: 'archived'), class: "nav-link #{params[:tab] == 'archived' ? 'active' : ''}" %>
        </li>
      </ul>

      <table class="table table-striped">
        <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name.truncate(18), project_path(project), class: "text-decoration-none" %></td>
            <td><%= project.description.truncate(70) %></td>
            <td>
              <% if current_user.admin? %>
                <%= link_to 'Edit', edit_project_path(project), class: "btn btn-warning btn-sm" %>
                <% if project.archived? %>
                  <%= form_with url: archive_project_path(project), method: :post, local: true, class: "d-inline" do %>
                    <%= button_to 'Un-Archive', archive_project_path(project), method: :post, data: { confirm: 'Are you sure you want to un-archive this project?' }, class: "btn btn-danger btn-sm" %>
                  <% end %>
                <% else %>
                  <%= form_with url: archive_project_path(project), method: :post, local: true, class: "d-inline" do %>
                    <%= button_to 'Archive', archive_project_path(project), method: :post, data: { confirm: 'Are you sure you want to archive this project?' }, class: "btn btn-danger btn-sm" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
